{% extends 'base.html.twig' %}

{% block title %}
	Le dodo de l'Atlas - Inscription
{% endblock %}

{% block body %}
	<body class="mrc">
		<div class="container">
			<h1 class="titre mt-4 mb-5 d-flex justify-content-center">Formulaire d'inscription</h1>
			<div class="card frm">
				<div class="card-body">
					{{ form(form, {'attr': {'class': 'cls'}}) }}
					</div>
				</div>
			</div>
		</div>
	</body>
{% endblock body %}
